;##############################
;#                            #
;# Ansible / Tower managed on #
;#                            #
;##############################

[{{ pool.name }}]
user = {{ pool.user }}
group = {{ pool.group }}

listen = /var/run/{{ pool.name }}-fpm.sock
listen.owner = {{ pool.user }}
listen.group = {{ pool.group }}
listen.mode = {{ pool.mode }}

pm = ondemand
pm.process_idle_timeout = {{ pool.process_idle_timeout }};
pm.max_children = {{ pool.max_children }}
pm.max_requests = {{ pool.max_children }}
pm.start_servers = {{ pool.mode }}
pm.min_spare_servers = {{ pool.mode }}
pm.max_spare_servers = {{ pool.mode }}

php_admin_value[error_log] = {{ add_php_fpm_confs_php_pools_log_path }}/{{ pool.name }}/php-error.log
access.log = {{ add_php_fpm_confs_php_pools_log_path }}/{{ pool.name }}/php-access.log
access.format = "%R %u [%t] \"%m %r\" %s %d %l"
slowlog = {{ add_php_fpm_confs_php_pools_log_path }}/{{ pool.name }}/php-slow.log

chdir = /
